<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="웹툰어스" />
    <meta property="og:description" content="재미있게 본 웹툰을 리뷰해요!" />
    <meta
      property="og:image"
      content="https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/webjong/images/music_festival.jpg"
    />
    <title>웹툰 | 웹툰어스</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='image/favicon.png') }}"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <style>
      @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

      .logo {
        width: 50px;
        height: 50px;
      }
      .background-banner {
        background-image: linear-gradient(
            45deg,
            rgb(51 43 43 / 75%),
            rgb(20 19 20 / 61%)
          ),
          url("https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        max-height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }

      .button-link {
        text-decoration: none; /* 밑줄 제거 */
        color: inherit; /* 텍스트 색상 상속 */
      }

      .search-bar {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.5rem;
      }

      .main-card {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2rem;
      }
    </style>
  </head>

  <body data-bs-theme="dark">
    <!--background-banner-->
    <div class="background-banner">
      <!--Nav bar-->
      <nav
        class="navbar border-bottom border-bottom-dark d-flex justify-content-space-between"
        data-bs-theme="dark"
      >
        <div class="ms-3">
          <a class="link-body-emphasis" href="/">
            <img
              class="logo"
              src="{{ url_for('static', filename='image/logo.png') }}"
              alt="logo"
          /></a>
        </div>
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">홈</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/webtoon"
                    >웹툰별 리뷰</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/user"
                    >유저별 리뷰</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </nav>
      <!--Nav bar-->

      <!--Main-->
      <main>
        <ul></ul>
        <div
          class="d-flex flex-column justify-content-center px-4 py-5 my-5 text-center"
        >
          <div
            class="row row-cols-1 row-cols-md-4 g-4 mx-auto w-75 pb-5"
            style="max-width: 500px"
          >
            <h1 class="fw-bold text-body-emphasis w-100">웹툰 검색</h1>
            <form
              action="/webtoon"
              method="POST"
              class="d-flex flex-row w-100 search rounded search-bar"
            >
              <input
                class="form-control me-2"
                type="search"
                id="searchbar-input"
                name="keyword"
                placeholder="웹툰 이름, 혹은 작가명으로 검색할 수 있습니다."
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </form>
          </div>
          <!--Cards-->
          <div
            class="row row-cols-1 row-cols-md-4 g-4 mx-auto w-75 pb-5 main-card rounded"
          >
            {% for webtoon in data %}
            <a
              class="button-link"
              href="{{ url_for('webtoonDetail', webtoon_id=webtoon.webtoon_id) }}"
            >
              <div class="col webtoon-item" id="{{webtoon.webtoon_id}}">
                <div class="card h-100">
                  <img
                    src="{{ webtoon.img }}"
                    class="card-img-top"
                    alt="album cover image"
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{ webtoon.title }}</h5>
                    <p class="card-text">{{ webtoon.author }}</p>
                    <p class="card-text">{{ webtoon.service }}</p>
                    <p class="card-text">{{ webtoon.update_days }}</p>
                  </div>
                </div>
              </div></a
            >
            {% endfor %}
          </div>
          <!--Cards-->
        </div>
      </main>
      <!--Main-->
    </div>
    <!--background-banner-->

    <!--Footer-->
    <div class="container">
      <footer>
        <div
          class="d-flex flex-column flex-sm-row justify-content-between pt-2 mt-4 border-top"
        >
          <small>© Innovationcamp, Team 23rd - Mini Project with Flask</small>
          <ul class="list-unstyled d-flex">
            <li class="ms-3">
              <a
                class="link-body-emphasis"
                href="https://github.com/23thTeam/webtoon-review_project"
              >
                <i class="bi bi-github"></i>
              </a>
            </li>
            <li class="ms-3">
              <a
                class="link-body-emphasis"
                href="https://noeulfront.notion.site/23-S-A-057d5d3087cb44e08bad121bcf9d763a"
                ><i class="bi bi-postcard"></i>
              </a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
    <script></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
